In [1]:
import sys

In [2]:
sys.path.append(r'G:\PycharmProject\DesignWorkTask\sjqy2midas')

In [3]:
from sjqy2midas import *

In [4]:
import pandas as pd

In [5]:
model=Model(r'G:\PycharmProject\DesignWorkTask\sjqy2midas\葛伦打洛.s2k')

In [6]:
model.fullEle.head()

,type,imat,ipro,Node1,Node2,Node3,Node4,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
element number,,,,,,,,,,,,,,,,,,,
1,PLATE,1,1,41,1,72,73,0.0,15.0,-7.215,0.0,15.0,-8.0,0.7,15.0,-8.0,0.7,15.0,-7.215
2,PLATE,1,1,73,72,71,74,0.7,15.0,-7.215,0.7,15.0,-8.0,1.4,15.0,-8.0,1.4,15.0,-7.215
3,PLATE,1,1,74,71,70,75,1.4,15.0,-7.215,1.4,15.0,-8.0,2.1,15.0,-8.0,2.1,15.0,-7.215
4,PLATE,1,1,75,70,69,76,2.1,15.0,-7.215,2.1,15.0,-8.0,2.8,15.0,-8.0,2.8,15.0,-7.215
5,PLATE,1,1,76,69,68,77,2.8,15.0,-7.215,2.8,15.0,-8.0,3.5,15.0,-8.0,3.5,15.0,-7.215

In [7]:
set(model.fullEle['x3'].drop_duplicates().values)==set(model.fullEle['x2'].drop_duplicates().values)

True

In [8]:
model.fullEle['x2'].drop_duplicates().values

array([ 0.     ,  0.7    ,  1.4    ,  2.1    ,  2.8    ,  3.5    ,
        4.2    ,  4.9    ,  5.6    ,  6.35909,  7.11818,  7.87727,
        8.63636,  9.39545, 10.15455, 10.91364, 11.67273, 12.43182,
       13.19091, 13.95   , 14.70909, 15.46818, 16.22727, 16.98636,
       17.74545, 18.50455, 19.26364, 20.02273, 20.78182, 21.54091,
       22.3    , 23.075  , 23.85   , 24.625  , 25.4    , 26.175  ,
       26.95   , 27.725  , 28.5    , 29.25   , 30.     , 30.75   ,
       31.5    , 32.25   , 33.     , 33.75   , 34.5    , 35.25   ,
       36.     , 36.75   , 37.5    ])

In [9]:
xsets=model.fullEle['x1'].drop_duplicates().values

In [10]:
xsets[10]

7.118180000000001

In [11]:
model.SelectEle(x=[xsets[2]])

Empty DataFrame
Columns: [type, imat, ipro, Node1, Node2, Node3, Node4, x1, y1, z1, x2, y2, z2, x3, y3, z3, x4, y4, z4]
Index: []

In [12]:
len(model.SelectEle(x=[xsets[-1]]))

432

In [13]:
for i in xsets:
    se=model.SelectEle(x=[i])
    if len(se)>1:
        print(i)

0.0
5.6
22.3
28.5
37.5

In [14]:
len(model.SelectEle(x=[0]))

240

In [15]:
len(model.SelectEle(x=[5.6]))

432

In [16]:
len(model.SelectEle(x=[22.3]))

624

In [25]:
model.xWalls.keys()

dict_keys(['x_wall_0.0', 'x_wall_5.6', 'x_wall_22.3', 'x_wall_28.5', 'x_wall_37.5'])