In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
import sys

In [4]:
sys.path.append(r'F:\PycharmProject\DesignWorkTask\sjqy2midas')

In [5]:
import sjqy2midas

In [6]:
model=sjqy2midas.Model(r'E:\设计卷册\PALU3\Palu虹吸井世纪旗云计算\palu虹吸井.s2k',dele=True)

In [7]:
elemDf=model.elemDf

In [8]:
elemDf.head()

                 type  imat  ipro  Node1  Node2  Node3  Node4
element number
1               PLATE     1     1     17      1     66     67
2               PLATE     1     1     67     66     65     68
3               PLATE     1     1     68     65     64     69
4               PLATE     1     1     69     64     63     70
5               PLATE     1     1     70     63     62     71

In [9]:
nodeDf=model.nodeDf

In [10]:
nodeDf.head()

            x    y    z
node num
1         0.0  8.5 -4.2
2         3.5  8.5 -4.2
3         0.0  3.5 -4.2
4         3.5  3.5 -4.2
5         0.0  0.0 -4.2

In [11]:
FullEle=pd.merge(elemDf,nodeDf,left_on='Node1',right_index=True).rename(columns={'x':'x1','y':'y1','z':'z1'})

In [12]:
FullEle=pd.merge(FullEle,nodeDf,left_on='Node2',right_index=True).rename(columns={'x':'x2','y':'y2','z':'z2'})

In [13]:
FullEle=pd.merge(FullEle,nodeDf,left_on='Node3',right_index=True).rename(columns={'x':'x3','y':'y3','z':'z3'})

In [41]:
FullEle=pd.merge(FullEle,nodeDf,left_on='Node4',right_index=True).rename(columns={'x':'x4','y':'y4','z':'z4'})

In [42]:
FullEle.head()

,type,imat,ipro,Node1,Node2,Node3,Node4,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
element number,,,,,,,,,,,,,,,,,,,
1,PLATE,1,1,17,1,66,67,0.0000,8.5,-3.75625,0.0000,8.5,-4.2,0.4375,8.5,-4.2,0.4375,8.5,-3.75625
2,PLATE,1,1,67,66,65,68,0.4375,8.5,-3.75625,0.4375,8.5,-4.2,0.8750,8.5,-4.2,0.8750,8.5,-3.75625
3,PLATE,1,1,68,65,64,69,0.8750,8.5,-3.75625,0.8750,8.5,-4.2,1.3125,8.5,-4.2,1.3125,8.5,-3.75625
4,PLATE,1,1,69,64,63,70,1.3125,8.5,-3.75625,1.3125,8.5,-4.2,1.7500,8.5,-4.2,1.7500,8.5,-3.75625
5,PLATE,1,1,70,63,62,71,1.7500,8.5,-3.75625,1.7500,8.5,-4.2,2.1875,8.5,-4.2,2.1875,8.5,-3.75625

In [43]:
FullEle.where(FullEle['x1']==0)

,type,imat,ipro,Node1,Node2,Node3,Node4,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
element number,,,,,,,,,,,,,,,,,,,
1,PLATE,1.0,1.0,17.0,1.0,66.0,67.0,0.0,8.5,-3.75625,0.0,8.5,-4.20000,0.4375,8.5,-4.20000,0.4375,8.5,-3.75625
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
361,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,PLATE,1.0,1.0,18.0,17.0,67.0,74.0,0.0,8.5,-3.31250,0.0,8.5,-3.75625,0.4375,8.5,-3.75625,0.4375,8.5,-3.31250
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,PLATE,1.0,1.0,19.0,18.0,74.0,81.0,0.0,8.5,-2.86875,0.0,8.5,-3.31250,0.4375,8.5,-3.31250,0.4375,8.5,-2.86875
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,PLATE,1.0,1.0,20.0,19.0,81.0,88.0,0.0,8.5,-2.42500,0.0,8.5,-2.86875,0.4375,8.5,-2.86875,0.4375,8.5,-2.42500
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1271,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1272,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1275,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1277,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1279,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1280,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1283,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1284,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1285,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1286,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1287,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1288,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1290,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1292,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1293,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1294,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1295,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1296,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1298,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1299,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1300,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
surf1=FullEle.where(FullEle['x1']==0).dropna();surf1.head()

,type,imat,ipro,Node1,Node2,Node3,Node4,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
element number,,,,,,,,,,,,,,,,,,,
1,PLATE,1.0,1.0,17.0,1.0,66.0,67.0,0.0,8.5,-3.75625,0.0,8.5,-4.20000,0.4375,8.5,-4.20000,0.4375,8.5,-3.75625
9,PLATE,1.0,1.0,18.0,17.0,67.0,74.0,0.0,8.5,-3.31250,0.0,8.5,-3.75625,0.4375,8.5,-3.75625,0.4375,8.5,-3.31250
17,PLATE,1.0,1.0,19.0,18.0,74.0,81.0,0.0,8.5,-2.86875,0.0,8.5,-3.31250,0.4375,8.5,-3.31250,0.4375,8.5,-2.86875
25,PLATE,1.0,1.0,20.0,19.0,81.0,88.0,0.0,8.5,-2.42500,0.0,8.5,-2.86875,0.4375,8.5,-2.86875,0.4375,8.5,-2.42500
33,PLATE,1.0,1.0,21.0,20.0,88.0,95.0,0.0,8.5,-1.98125,0.0,8.5,-2.42500,0.4375,8.5,-2.42500,0.4375,8.5,-1.98125

In [45]:
surf1=surf1.where(surf1['x2']==0).dropna()

In [46]:
surf1=surf1.where(surf1['x3']==0).dropna()

In [47]:
surf1.head()

,type,imat,ipro,Node1,Node2,Node3,Node4,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
element number,,,,,,,,,,,,,,,,,,,
161,PLATE,1.0,1.0,200.0,3.0,235.0,236.0,0.0,3.5000,-3.75625,0.0,3.5000,-4.20000,0.0,4.0,-4.20000,0.0,4.0,-3.75625
704,PLATE,1.0,1.0,779.0,772.0,200.0,201.0,0.0,3.0625,-3.31250,0.0,3.0625,-3.75625,0.0,3.5,-3.75625,0.0,3.5,-3.31250
162,PLATE,1.0,1.0,236.0,235.0,234.0,237.0,0.0,4.0000,-3.75625,0.0,4.0000,-4.20000,0.0,4.5,-4.20000,0.0,4.5,-3.75625
163,PLATE,1.0,1.0,237.0,234.0,233.0,238.0,0.0,4.5000,-3.75625,0.0,4.5000,-4.20000,0.0,5.0,-4.20000,0.0,5.0,-3.75625
164,PLATE,1.0,1.0,238.0,233.0,232.0,239.0,0.0,5.0000,-3.75625,0.0,5.0000,-4.20000,0.0,5.5,-4.20000,0.0,5.5,-3.75625

In [49]:
FullEle.head()

,type,imat,ipro,Node1,Node2,Node3,Node4,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
element number,,,,,,,,,,,,,,,,,,,
1,PLATE,1,1,17,1,66,67,0.0000,8.5,-3.75625,0.0000,8.5,-4.2,0.4375,8.5,-4.2,0.4375,8.5,-3.75625
2,PLATE,1,1,67,66,65,68,0.4375,8.5,-3.75625,0.4375,8.5,-4.2,0.8750,8.5,-4.2,0.8750,8.5,-3.75625
3,PLATE,1,1,68,65,64,69,0.8750,8.5,-3.75625,0.8750,8.5,-4.2,1.3125,8.5,-4.2,1.3125,8.5,-3.75625
4,PLATE,1,1,69,64,63,70,1.3125,8.5,-3.75625,1.3125,8.5,-4.2,1.7500,8.5,-4.2,1.7500,8.5,-3.75625
5,PLATE,1,1,70,63,62,71,1.7500,8.5,-3.75625,1.7500,8.5,-4.2,2.1875,8.5,-4.2,2.1875,8.5,-3.75625

In [51]:
cond1=FullEle['x1']==0

In [52]:
cond2=FullEle['x2']==0

In [53]:
cond3=FullEle['x3']==0

In [128]:
cond4=FullEle['z1']<3

In [105]:
cond5=FullEle['z2']<3

In [106]:
cond6=FullEle['z3']<3

In [156]:
cond7=FullEle['y1']<8

In [157]:
cond8=FullEle['y2']<8

In [158]:
cond9=FullEle['y3']<8

In [155]:
cond10=FullEle[['z1','z2','z3']]>0

In [159]:
cond11=FullEle[['y1','y2','y3']]>3

In [163]:
result=pd.concat([cond1,cond2,cond3,cond4,cond5,cond6,cond7,cond8,cond9,cond10,cond11],axis=1)

In [164]:
FullEle[result.all(1)].head()

,type,imat,ipro,Node1,Node2,Node3,Node4,x1,y1,z1,x2,y2,z2,x3,y3,z3,x4,y4,z4
element number,,,,,,,,,,,,,,,,,,,
776,PLATE,1,1,842,835,209,210,0.0,3.0625,0.68125,0.0,3.0625,0.23750,0.0,3.5,0.23750,0.0,3.5,0.68125
261,PLATE,1,1,210,209,317,326,0.0,3.5000,0.68125,0.0,3.5000,0.23750,0.0,4.0,0.23750,0.0,4.0,0.68125
784,PLATE,1,1,849,842,210,211,0.0,3.0625,1.12500,0.0,3.0625,0.68125,0.0,3.5,0.68125,0.0,3.5,1.12500
262,PLATE,1,1,326,317,318,327,0.0,4.0000,0.68125,0.0,4.0000,0.23750,0.0,4.5,0.23750,0.0,4.5,0.68125
263,PLATE,1,1,327,318,319,328,0.0,4.5000,0.68125,0.0,4.5000,0.23750,0.0,5.0,0.23750,0.0,5.0,0.68125

In [165]:
def press(x):
    return 42-10*x

In [166]:
pressEle=FullEle[result.all(1)]

In [167]:
pressEle['z1'].apply(press).head()

element number
776    35.1875
261    35.1875
784    30.7500
262    35.1875
263    35.1875
Name: z1, dtype: float64

In [168]:
pressDf1=pd.DataFrame(index=pressEle.index)

In [169]:
pressDf1['CMD']='HYDRO'
pressDf1['ETYP']='PLATE'
pressDf1['iFACE']='FACE'
pressDf1['DIR']='LZ'
pressDf1['VX']=0
pressDf1['VY']=0
pressDf1['VZ']=0
pressDf1['bPro']='NO'
pressDf1['PU']=0
pressDf1['P1']=pressEle['z1'].apply(press)
pressDf1['P2']=pressEle['z2'].apply(press)
pressDf1['P3']=pressEle['z3'].apply(press)
pressDf1['P4']=pressEle['z4'].apply(press)
pressDf1['group']=' '

In [170]:
pressDf1.head()

,CMD,ETYP,iFACE,DIR,VX,VY,VZ,bPro,PU,P1,P2,P3,P4,group
element number,,,,,,,,,,,,,,
776,HYDRO,PLATE,FACE,LZ,0,0,0,NO,0,35.1875,39.6250,39.6250,35.1875,
261,HYDRO,PLATE,FACE,LZ,0,0,0,NO,0,35.1875,39.6250,39.6250,35.1875,
784,HYDRO,PLATE,FACE,LZ,0,0,0,NO,0,30.7500,35.1875,35.1875,30.7500,
262,HYDRO,PLATE,FACE,LZ,0,0,0,NO,0,35.1875,39.6250,39.6250,35.1875,
263,HYDRO,PLATE,FACE,LZ,0,0,0,NO,0,35.1875,39.6250,39.6250,35.1875,

In [171]:
pressDf1.to_csv(r'E:\设计卷册\PALU3\Midas模型\press.csv',sep=',')

In [172]:
help(pressDf1.to_csv)

Help on method to_csv in module pandas.core.frame:

to_csv(path_or_buf=None, sep=',', na_rep='', float_format=None, columns=None, header=True, index=True, index_label=None, mode='w', encoding=None, compression=None, quoting=None, quotechar='"', line_terminator='\n', chunksize=None, tupleize_cols=False, date_format=None, doublequote=True, escapechar=None, decimal='.') method of pandas.core.frame.DataFrame instance
    Write DataFrame to a comma-separated values (csv) file

    Parameters
    ----------
    path_or_buf : string or file handle, default None
        File path or object, if None is provided the result is returned as
        a string.
    sep : character, default ','
        Field delimiter for the output file.
    na_rep : string, default ''
        Missing data representation
    float_format : string, default None
        Format string for floating point numbers
    columns : sequence, optional
        Columns to write
    header : boolean or list of string, default True
        Write out column names. If a list of string is given it is assumed
        to be aliases for the column names
    index : boolean, default True
        Write row names (index)
    index_label : string or sequence, or False, default None
        Column label for index column(s) if desired. If None is given, and
        `header` and `index` are True, then the index names are used. A
        sequence should be given if the DataFrame uses MultiIndex.  If
        False do not print fields for index names. Use index_label=False
        for easier importing in R
    mode : str
        Python write mode, default 'w'
    encoding : string, optional
        A string representing the encoding to use in the output file,
        defaults to 'ascii' on Python 2 and 'utf-8' on Python 3.
    compression : string, optional
        a string representing the compression to use in the output file,
        allowed values are 'gzip', 'bz2', 'xz',
        only used when the first argument is a filename
    line_terminator : string, default ``'\n'``
        The newline character or character sequence to use in the output
        file
    quoting : optional constant from csv module
        defaults to csv.QUOTE_MINIMAL. If you have set a `float_format`
        then floats are comverted to strings and thus csv.QUOTE_NONNUMERIC
        will treat them as non-numeric
    quotechar : string (length 1), default '\"'
        character used to quote fields
    doublequote : boolean, default True
        Control quoting of `quotechar` inside a field
    escapechar : string (length 1), default None
        character used to escape `sep` and `quotechar` when appropriate
    chunksize : int or None
        rows to write at a time
    tupleize_cols : boolean, default False
        write multi_index columns as a list of tuples (if True)
        or new (expanded format) if False)
    date_format : string, default None
        Format string for datetime objects
    decimal: string, default '.'
        Character recognized as decimal separator. E.g. use ',' for
        European data

        .. versionadded:: 0.16.0

In [94]:
FullEle.loc[161]

type       PLATE
imat           1
ipro           1
Node1        200
Node2          3
Node3        235
Node4        236
x1             0
y1           3.5
z1      -3.75625
x2             0
y2           3.5
z2          -4.2
x3             0
y3             4
z3          -4.2
x4             0
y4             4
z4      -3.75625
Name: 161, dtype: object